@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

* {
  font-family: 'Roboto', sans-serif !important;
}

.App {
  text-align: center;
  background-color: rgba(33, 37, 41, 0.425);
  background-color: rgb(23, 38, 53);
  background-size: cover;
}



.login-div {
  margin: auto;
  margin-top: 100px;
  min-height: 100vh;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cred-form-div {
  width: 200px;
}

.cred-button {
  margin-top: 20px;
}

.login-error-message {
  color:red;
}

.profile-image {
  border-radius: 50%;
  width: 25px;
}

.login-header {
  color: white !important;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
}

.home-container {
  color: white;
  margin-top: 25px;
  min-height: 100vh !important;
  background-color: rgb(23, 38, 53);
  background-size: cover;
  overflow: hidden;
  
}

.watch-list.container {
  margin-right: 50px;
  /* border: solid silver .5px !important; */
  width: 250px;
  height: 80vh !important;
  background-color: rgba(191, 193, 194, 0.274);
  border-radius: 40px;
  padding: 0%;
  position: relative;
}


.portfolio {
  color: white !important;
  border: solid black;
  margin-left: 80px;
  min-width: 67vh;
  max-width: 67vh;
  background-color: rgba(33,37,41); 
  height: 80vh !important;
  border-radius: 5%;
  overflow: scroll;
}

.news {
  margin-left: 15px;
  border: solid black;
  background-color: rgba(33,37,41);
  height: 80vh !important;
  border-radius: 40px;
  width: 250px !important;
  overflow: scroll !important;

}

.navlink :hover {
  background-color: white !important;

}

.welcome-message {
  color: white !important;
}

.nav-button-div {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  align-content: center;
}

.button {
  margin-left: 20px;
}

.div-label {
  padding-top: 10px;
}

.vs-currency {
  font-size: small;
  color:rgba(191, 193, 194, 0.562)

}

.dailychange {
  padding-left: 40px;
  display: flex;
  width: 200px;
  align-items: baseline;
  margin-right: 0px;
  justify-content: space-evenly;
}

.small-font {
  font-size: small;
  padding-left: 15px;
  color:rgba(191, 193, 194, 0.562);
}

.watchlist-card {
  display: flex;
  justify-content: center;
  border: solid silver .5px !important;
  height: 135px;
}

.negative {
  color: red !important;
}
.positive {
  color: green !important;
}

.coin-list-dropdown {
  margin-top: 25px;
  position: absolute;
  overflow: visible !important;
  
}

.watch-list-content {
  overflow: scroll;
}

.close-button {
  display: flex;
  font-size: 10px;
  align-content: left;
}

.dropdown-menu {
  overflow: scroll !important;
  bottom: auto;
  text-align: center !important;
}

.coin-list-dropmenu {
  width: 300px !important;
  height: 250px;
}

.no-history-alert {
  margin-top: 30px;
}


.nav-link {
  color:white !important;
}

.nav-link.active {
  background-color: rgba(33,37,41) !important;
  border-bottom-color: rgba(33,37,41) !important;
}

.card-body {
  padding: 5px !important;
}

.title-card {
  font-size: 10px;
  height: 30px;
}

.position-card {
  height: fit-content;
}

.position-card-div {
  display: flex !important;
  gap: 20px;
  padding-top: 16px;
}

.postion-ud-buttons {
  margin-top: 5px;
}


.title-card-div {
  display: flex !important;
  gap: 20px;
  color:rgba(191, 193, 194, 0.562)
}

.pos-sum {
  padding-top: 15px;
  font-size: 25px;
}

.positive-pos-pnl {
  color:#008000;
}

.negative-pos-pnl {
  color: red;
}

.pos-sum {
  display: flex !important;
  font-size: 22px;
}

.homepage-container.col {
  width: 200px;
}

.form-buttons {
  margin-top: 30px;
}

.new-pos-div {
  display: flex;
  align-items: center;
}


.new-pos-form {
  margin-top: 50px !important;
  margin: auto;
  width: 300px;
}

.form-asset-name {
  margin-top: 10px;
}

.position-added {
  margin-top: 200px;
}

.edit-card-div {
  display: flex !important;
  gap: 20px
}

.edit-item-div {
  margin-top: 10px;
}

.form-buttons {
  margin-left: 10px;
}

.portfolio-summary-div {
  margin-top: 40px;
  max-width:fit-content !important;
}

.summary-card-container {
  display: flex !important;
  gap: 20px
  
}

.sum-item {
  margin-top: 27px;
}

.summary-card {
  height: 100px;
}

.news-div {
  margin-top: 10px;

}


.card-title {
  font-size: 10px;
}



/* PAGINATION */

.page {
  font-size: 13px;
  padding: 5px;
  border-radius: 6px;
  height: 5px;
  cursor: pointer;
}



.page-disabled{
  cursor: not-allowed;
  
}

.page-active{
  color: black;
  font-weight: bold;
}

.previous a {
  color: white;
  text-decoration: none !important;
  cursor: pointer;
}

.previous:hover a {
  color:black;
}

.page-break{
  padding: 10px;
}

.page:hover{
  color:black;
}

.next a{
  color: white;
  text-decoration: none !important;
  cursor: pointer;
}

.next:hover a {
  color: black;
}

.ul-page-container {
  width: 100px;
}

.news-card-title {
  font-size: 10px;
  color:rgba(191, 193, 194, 0.562);
  display: flex;
  justify-content: center;
  gap: 7px;
  align-items: center;
}

.card-author {
  font-size: 10px !important;
  color:rgba(191, 193, 194, 0.562);
}

.news-body {
  padding-top: 8px!important;
}

.news-card-title a {
  text-decoration: none !important;
  color: white;
}

.news-card-title:hover a {
  color:rgba(191, 193, 194, 0.562);
}


.page-container{
  margin-right: 26px;
  margin-top: 20px;
  width: 50px !important;
  display: flex;
  align-items: baseline;
  list-style: none;
  padding-left: 0;
  margin-left: 30px;
}

.news-cards {
 margin-top: 8px;
 height: fit-content;
 margin-bottom: 10px;
 overflow: scroll;
}

.news-paginate {
  position: absolute;
  bottom: 0px;
}

.news {
  position: relative;
}



.close-pos-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}


.close-item-div {
  margin-top: 10px;
}

.close-card {
  margin-top: 30px;
}


#portfolio-balance-chart {
  align-items: center;
  margin: auto !important;
}

.portfolio-balance-chart.chart-container.container {
  display: flex;
  align-items: center;
  max-width: fit-content !important;
 
}
